/* -------------  Navbar -------------- */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    background-color: white;
}

.header-container {
    background-color: white;
    min-height: 100px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

header {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: larger;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

a {
    color: black;
    text-decoration: none;
}

a img {
    width: 30px;
    height: auto;
    margin-right: 5px;
}

.bold {
    font-size: x-large;
    font-weight: bold;
    padding-right: 20px;
}

.button { 
    padding: 5px 10px;  
}

.button2 {
    padding: 5px 5px;
}

nav {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

nav a {
    padding: 5px 10px; 
    display: flex;
    align-items: center;
}

.projects-dropdown {
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: smaller; 
}

.projects-dropdown:hover .dropdown {
    display: block;
}

.dropdown .navbutton {
    padding: 3px 4px;
    text-decoration: none;
    display: block;
    background-color: white;
}

.dropdown .navbutton:hover {
    background-color: #bbbbbb;
}

.mob-wrapper {
    display: none; 
}


/* -------------  Home -------------- */
.card1::before, .card2::before, .card3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); 
  pointer-events: none; 
  transition: opacity 0.3s ease; 
}

.card1:hover::before, .card2:hover::before, .card3:hover::before {
  opacity: 0; 
}

main {
    padding-top: 125px;
    padding-left: 25px;
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.card1 {
    background-image: url("Home Images/Me.jpeg");
    background-size: cover;
    background-position: bottom;
    height: 250px;
    width: 30%;  
}

.card2 {
    background-image: url("Home Images/Projects.JPG");
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 30%;
}

.card3 {
    background-image: url("Home Images/Resume.JPG");
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 30%;
}

.card1, .card2, .card3 {
    box-sizing: border-box;
    padding: 0px;
    position: relative;
    margin: 0 10px;
    flex: 1;
    overflow: hidden;
}

.herobox1 {
    flex: 2;
    padding-right: 100px;
    padding-left: 200px;
    padding-bottom: 100px;
}

.herobox2 {
    flex: 1;
}

.herobox2 img {
    width: 150px;
    height: auto;
}

h1 {
    font-size: 3.25rem;
    margin-bottom: 1rem;
    padding-top: 80px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.205);
}

h2 {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 2rem;
    margin-top: 100px;
    font-weight: bold;
    opacity: 1;
    text-shadow: 0px 0px 8px #000;
}

p {
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}


/* -------------  Resume -------------- */

.resume {
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 100px;
}

h3 {
    font-weight: bold;
    font-size: xx-large;
    border-bottom: 2px solid lightgrey;
    padding-bottom: 5px;
    padding-top: 10px;
}

h4 {
    padding-top: 5px;
    font-weight: bold;
    padding-bottom: 5px;
}

h5 {
    font-style: italic;
    padding-bottom: 5px;
}

.resume-spacer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resume .bold {
    font-weight: bold;
    font-size: 16px;
    padding-right: 5px;
}

.resume p {
    padding-left: 35px;
}

#resume-download {
    padding-top: 30px;
    font-size: large;
    text-decoration: underline;
    font-weight: bold;
}

/* -------------  Projects -------------- */
.projects-header {
    background-color: rgb(135, 153, 188);
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: xx-large;
    color: white;
    justify-content: center;
}

.projects-container {
    display: flex;
}

.apps {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: fixed; 
    top: 100px; 
    bottom: 0; 
    left: 0; 
    margin-left: 10px;
}

.projects {
    flex: 11;
    margin-left: 10%;
}

.apps img {
    width: 100%;
    margin-bottom: 30px;
}

.illustrators .row {
    justify-content: center;
}

.illustrators .row img {
    width: 100%;
    height: auto;
}

h6 {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.newspaper .carousel-item img {
    margin: auto;
    border: 1px solid black; 
}

.chris {
    display: flex;
    margin-left: 50px;
    margin-right: 50px
}

.chris .row {
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(135, 153, 188);
}

.chris .row .col-4 {
    margin-right: 50px;
    margin-left: 50px;
}

.psd {
    display: flex;
    margin-left: 50px;
    margin-right: 50px
}

.psd img {
    width: 100%;
}

.psd .col-1 {
    display: flex;
    align-items: center; 
    margin-left: 80px;
    margin-right: 80px;
}

.psd .col-4 {
    display: flex;
    align-items: center; 
}

/* -------------  About -------------- */

.about-page {
    display: flex;
    width: 100%;
    padding-top: 100px;
}

.collage {
    width: 50%; 
    display: flex; 
    margin-left: 50px;
}

.column img {
    width: 100%; 
    display: block;
    margin-bottom: 15px; 
}

.column {
    flex: 1; 
    padding: 10px; 
}

.collage h6 {
    font-size: 30px;
    padding-bottom: 20px;
}

.collage p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 10px;
}

/* -------------  Responsiveness -------------- */
@media (max-width: 1250px) {
    .resume {
        padding-left: 15px;
        padding-right: 15px;
    }

    .about-page {
        padding-top: 120px;
        flex-direction: column;
    }

    .about-me {
        padding-left: 50px;
    }
    
    .collage {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }






    .mob-wrapper {
        display: block;
    }

    .mob-nav {
        position: fixed;
        top: 100px; 
        right: -350px; 
        width: 250px;
        height: calc(100vh - 100px); 
        background-color: #bbbbbb; 
        transition: right 0.6s ease; 
    }
    
    .show-nav {
        right: 0;
    }
    
    .button3 {
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .button {
        display:none;
    }

    nav a {
        display: block;
    }

    .logo {
        padding: 40px 0px;
    }

    .button {
        margin-left: 0px;
    }
}

@media (max-width: 700px) {
    .cards {
        flex-direction: column;
    }

    .cards a {
        margin-bottom: 30px;
    }

    main {
        padding-top: 120px;
    }

    .herobox1 {
        padding: 10px;
    }
}